.general-register-container {
  width: 100%;
  max-width: 500px;
  padding: 25px;
  box-sizing: border-box;
  margin: auto;

  .title {
    color: #6E77F6;
    font-weight: 700;
    font-size: 34px;
    line-height: 43px;
    margin-bottom: 2%;
  }

  .subtitle {
    color: black;
    font-weight: 400;
    font-size: 25px;
    margin-top: 2%;
  }

  .text-fields {
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    margin-bottom: 20%;
  }

  .button-register {
    margin-bottom: 8%;
  }

  .has-login {
    display: flex;
    justify-content: center;

    a {
      display: flex;
      justify-content: center;
      text-decoration: none;
    }
    
    .button {
      background-color: transparent;
      border: 0;
      font-weight: 800;
      cursor: pointer;
    }
  }
}